.nav__home {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
}
.nav__action {
  position: relative;
  display: flex;
  gap: 20px;
  top: 0;
  margin-top: 30px;
}
